/* Start NavBar */
.navbar .notificationNumberZeyad {
  color: white;
  /* font-size: 20px; */
  background-color: red;
  display: inline-block;
  /* height: 25px;
  width: 25px; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* transform: translate(-60%, -50%);
  -webkit-transform: translate(-60%, -50%);
  -moz-transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  -o-transform: translate(-60%, -50%); */
  position: absolute;
  top: -5px;
  right: 0px;
  padding: 3px 6px;
}

@media (max-width: 991px) {
  .navbar .notificationNumberZeyad {
    top: -8px;
    right: -10px;
  }
}
/* End NavBar */

/* Start ReviewItem */
.gallery div img {
  width: 100%;
  border-radius: 20px;
}
.gallery .thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px 20px;
  margin-top: 20px;
}
.gallery .thumbnails img {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.gallery .thumbnails img:hover {
  opacity: 0.8;
}
/* End ReviewItem */
