/* Start NavBar */
.navbar .notificationNumberZeyad {
  color: white;
  /* font-size: 20px; */
  background-color: red;
  display: inline-block;
  /* height: 25px;
  width: 25px; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* transform: translate(-60%, -50%);
  -webkit-transform: translate(-60%, -50%);
  -moz-transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  -o-transform: translate(-60%, -50%); */
  position: absolute;
  top: -5px;
  right: 0px;
  padding: 3px 6px;
}

@media (max-width: 991px) {
  .navbar .notificationNumberZeyad {
    top: -8px;
    right: -10px;
  }
}
/* End NavBar */

/* Start ReviewItem */
section {
  margin: 70px 0;
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  column-gap: 100px;
}
@media (max-width: 992px) {
  section {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
  }
}
.gallery div img {
  width: 100%;
  border-radius: 20px;
}
.gallery .thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.gallery .thumbnails img {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.gallery .thumbnails img:hover {
  opacity: 0.8;
}
.product {
  padding-top: 30px;
}
.product .seller-name {
  font-weight: 700;
  letter-spacing: 1.7px;
  font-size: 16px;
}
.product .date-of-item {
  position: relative;
  top: -17px;
  font-size: 12px;
  float: right;
}
.product .item-name {
  font-weight: 700;
  font-size: 30px;
  display: block;
  margin-bottom: 20px;
}
.product .description {
  font-size: 20px;
  margin-bottom: 30px;
}
.product .price .new-price {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 5px;
  display: inline-block;
}
.product .price .discount {
  background-color: hsl(25, 100%, 94%);
  display: inline;
  margin-left: 10px;
  padding: 5px;
  border-radius: 7px;
  align-items: center;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 600;
}
.product .price .old-price {
  font-size: small;
  text-decoration: line-through;
}
.order-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 20px;
  margin-top: 27px;
}
.order-section .counter {
  background-color: #d7d3d3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40%;
  height: 40px;
  text-align: center;
  align-items: center;
  align-self: center;
  border-radius: 7px;
}
.order-section .counter .left-btn,
.order-section .counter .right-btn {
  cursor: pointer;
  font-size: 18px;
  color: rgb(117, 53, 53);
  font-weight: bold;
}
.container .head {
  text-align: center;
}
#amount {
  font-weight: bold;
  width: 100%;
}
.order-section .add-to-cart-btn {
  background-color: rgb(117, 53, 53);
  border: none;
  padding: 15px 30px;
  text-align: center;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* End ReviewItem */

/* add item */
 .container {
  position: relative;
 
} 
.input-group-text {
  color: #fff;
}
body {
  background-color: #eee;
}



.center {
  height: 100vh;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.buttons {
  /* padding: 10px; */
  /* background-color: #d6d4d4; */
  border-radius: 8px;
  position: relative;
  padding-left: 70px;
}

.dot {
  height: 14px;
  width: 14px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  left: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  color: #fff;
  opacity: 0;
}

.cart-button {
  height: 48px;
}

.cart-button:focus {
  box-shadow: none;
}

.cart {
  position: relative;
  height: 48px !important;
  width: 50px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 11px;
  border-radius: 5px;
  font-size: 21px;
}

.cart-button.clicked span.dot {
  animation: item 0.3s ease-in forwards;
}

@keyframes item  {
  0% {
    opacity: 1;
    top: 30%;
    left: 30%;
  }

  25% {
    opacity: 1;
    left: 26%;
    top: 0%;
  }

  50% {
    opacity: 1;
    left: 23%;
    top: -22%;
  }

  75% {
    opacity: 1;
    left: 19%;
    top: -18%;
  }

  100% {
    opacity: 1;
    left: 14%;
    top: 28%;
  }
} /* end add item */
